<div class="center-card">
  <mat-card class="card">
    <mat-card-content>
      <mat-list>
        <div class="header">
          <mat-card-subtitle>{{ carChild.make }}</mat-card-subtitle>
          <mat-card-title>{{ carChild.model }}</mat-card-title>
        </div>
        <mat-divider></mat-divider>
        <mat-list-item><b>Distance:</b> {{ carChild.distance }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><b>Year:</b> {{ carChild.year }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><b>Fuel Type:</b> {{ carChild.fuel_type }}</mat-list-item
        ><mat-divider></mat-divider>
        <mat-list-item
          ><b>Transmission:</b> {{ carChild.transmission }}</mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item>
          <div *ngIf="expectedValueVisible" class="input-container">
            <label for="expectedValue" class="flex-item"
              >Expected Price:
            </label>
            <input
              class="flex-item"
              type="number"
              id="expectedValue"
              placeholder="*Not compulsory"
              [min]="100000"
              [max]="10000000"
              #expectedValue
            />
            <button
              class="flex-item"
              (click)="sendCarWithExpected(expectedValue.value)"
            >
              Enter Price
            </button>
          </div>
          <div *ngIf="!expectedValueVisible" class="input-container">
            <p><b>You have submited the expected price as {{expectedValue}}</b></p>
          </div>

        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
<!-- <label for="item-input">Add an item:</label>
<input type="text" id="item-input" #newItem>
<button type="button" (click)="addNewItem(newItem.value)">Add to parent's list</button> -->
