<mat-stepper
  class="stepper"
  orientation="horizontal"
  [linear]="isLinear"
  #stepper
>
  <mat-step [stepControl]="firstFormGroup">
    <form class="form" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Brand</ng-template>
      <mat-form-field>
        <mat-label>Brand</mat-label>
        <input matInput formControlName="firstCtrl" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form class="form" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Give the model</ng-template>
      <mat-form-field>
        <mat-label>Model</mat-label>
        <input matInput formControlName="secondCtrl" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form class="form" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Year</ng-template>
      <mat-form-field>
        <mat-label>Model Year</mat-label>
        <input matInput formControlName="secondCtrl" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
