.step-container {
  width: 100%;
}
.stepper {
  max-width: 60rem;
  margin-top: 1rem;
  margin: 1rem auto;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
}

.input-card {
  width: 100%;
  padding: 1rem 1.5rem;
}
.-margin {
  margin-bottom: -1rem;
}
.margin-top {
  margin-top: 1rem;
}
.table-container {
  overflow: auto;
}
table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: none;
}
