<mat-stepper
  class="stepper"
  orientation="horizontal"
  [linear]="isLinear"
  #stepper
>
  <mat-step [stepControl]="carEssentialInfo">
    <form class="form" [formGroup]="carEssentialInfo">
      <ng-template matStepLabel>Car Info</ng-template>
      <mat-form-field>
        <mat-label>Make</mat-label>
        <mat-select formControlName="make">
          <mat-option value="volvo">Volvo</mat-option>
          <mat-option value="seat">Seat</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Model</mat-label>
        <mat-select formControlName="model">
          <mat-option value="cx60">cx60</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput type="number" placeholder="0" formControlName="year">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Distance</mat-label>
        <input matInput type="number" placeholder="0" formControlName="distance">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <mat-select formControlName="color">
          <mat-option value="red">Red</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Transmission</mat-label>
        <mat-select formControlName="transmission">
          <mat-option value="auto">Auto</mat-option>
          <mat-option value="manuel">Manuel</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Drivetrain</mat-label>
        <mat-select formControlName="drivetrain">
          <mat-option value="awd">Awd</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Engine</mat-label>
        <mat-select formControlName="engine">
          <mat-option value="engine1">Multi-jet 1.4</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Door</mat-label>
        <mat-select formControlName="door">
          <mat-option value="one">One</mat-option>
          <mat-option value="two">Two</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form class="form" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Output</ng-template>
      <!--<mat-form-field>
        <mat-label>Model</mat-label>
        <input matInput formControlName="secondCtrl" required/>
      </mat-form-field>-->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
