.center-card {
  display: flex;
  justify-content: center;
}
.card {
  max-width: 600px;
  width: 100%;
}
.header {
  font-size: large;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin: 16px;
}

.input-card {
  width: 100%;
  margin: 16px;
  padding: 16px;
}

.input-container b {
  color: #226f65;
}

